extends ../layout/main

block variables
  - var title = 'Спасибо за заявку - PrinTeam'
  - var page = 'thanks'

block content
  main.thanks
    h1.thanks__title= content.thanks.title
    a.thanks__action(href="/")
      span.thanks__text= content.thanks.action.text
      .thanks__arrow