section.section.maraphon-banner
  .container
    .maraphon-banner__wrap
      .maraphon-banner__logo
        img(src=content.general.logo.maraphon.main, alt=content.general.logo.maraphon.alt)
      p.maraphon-banner__text= content.maraphonBanner.text
      .maraphon-banner__btn
        include ../../modules/link-order
      .maraphon-banner__list
        .maraphon-banner__item
        .maraphon-banner__item