section.section.top-banner#top-banner
  .container
    .top-banner__wrap
      .top-banner__info
        .top-banner__logo
          img(src=content.general.logo.main, alt=content.general.logo.alt)
        p.top-banner__text закажте нанесение фамили, номера&nbsp;и&nbsp;логотип вашей команды, каждому&nbsp;игроку.
        .top-banner__link
          include ../../modules/link-order
      .top-banner__img#parallax-img
        img(src=content.topBanner.img.src alt=content.topBanner.img.alt data-depth="0.1")