.advantage
  background-image linear-gradient(to bottom, #fec905 0%, #fcbc0b 100%)
  .container
    height 100%
    display flex
    flex-direction column
    justify-content center
  @media (max-width $breakpoint)
    background-image none

.advantage__wrap
  width 100%
  max-width 800px
  margin 0 auto

.advantage__list
  display flex
  justify-content space-between
  margin-bottom 50px
  @media (max-width $breakpoint-lg)
    padding 0 20px
    margin-bottom 30px
  @media (max-width $breakpoint)
    padding 0
    flex-direction column
    align-items center
    justify-content flex-start
    text-align center

.advantage__item
  max-width 200px
  display flex
  flex-direction column
  align-items center
  text-align center
  @media (max-width $breakpoint)
    &+&
      margin-top 65px

.advantage__icon
  margin-bottom 17px

.advantage__name
  color #fff
  font-size 22px
  line-height 24px
  text-transform uppercase
  margin-bottom 25px

.advantage__text
  line-height 17px

.advantage__action
  display flex
  align-items center
  justify-content flex-end
  @media (max-width $breakpoint)
    justify-content center
    position relative

.advantage__arrow
  position relative
  width 100%
  max-width 350px
  height 25px
  &:before,&:after
    content ''
    display block
    position absolute
  &:before
    width 0
    height 1px
    background-color $tree-poppy
    left 0
    top 50%
    transform translateY(-50%)
    transition all .7s
  &:after
    width 0
    height 0
    border 1px solid transparent
    border-right-color $tree-poppy
    border-bottom-color $tree-poppy
    right 0
    top 50%
    transform translateY(-50%) rotate(-45deg)
    transition all .4s
    transition-delay .8s
  &.active
    &:before
      width 100%
    &:after
      width 12px
      height 12px
  @media (max-width $breakpoint)
    position absolute
    right calc(50% + 60px)
    &:before
      width 100%
    &:after
      width 12px
      height 12px



.advantage__link
  margin-left 25px
  @media (max-width $breakpoint)
    margin-left 0