.choice
  background-image linear-gradient(to bottom, #fcbc0b 0%, #faad13 100%)
  .container
    height 100%
  @media (max-width $breakpoint)
    background-image none
    margin-bottom 50px

.choice__wrap
  width 100%
  height 100%
  max-width 1155px
  margin-left auto
  margin-right 30px
  display flex
  justify-content flex-end
  align-items center
  @media (max-width $breakpoint)
    margin-right auto
    justify-content center
    padding-top 390px
    position relative

.choice__imgs
  position relative
  height 100%
  width 100%
  @media (max-width $breakpoint)
    position absolute
    top 0
    left 0

.choice__img
  position absolute
  transition all 1s
  &--1
    left -75%
    bottom 10.39%
    z-index 3
    &.active
      left 0
  &--2
    left -75%
    bottom 20.78%
    z-index 2
    &.active
      left 30.51%
      transition-delay .2s
  &--3
    left -75%
    bottom 28.57%
    z-index 1
    &.active
      left 59.16%
      transition-delay .4s
  img
    max-width none
  &.none
    left -75%
  @media (max-width $breakpoint-lg)
    &--1,
    &--2,
    &--3, 
    &.none
      left -120%
  @media (max-width $breakpoint)
    max-width 33%
    min-width 220px
    &--1
      bottom 27%
    &--2
      bottom 37%
      animation-delay .2s
    &--3
      bottom 47%
      animation-delay .4s
    img
      max-width 100%
  @media (max-width $breakpoint-sm)
    &--1
      &.active
        left -10%
    &--2
      &.active
        left 25%
    &--3
      &.active
        left 60%

.choice__info
  width 100%
  max-width 290px
  display flex
  flex-direction column
  align-items center
  text-align center
  margin-top 25%
  z-index 5
  @media (max-width $breakpoint-lg)
    margin-top 40%
  @media (max-width $breakpoint)
    margin-top 0

.choice__text
  font-size 22px
  line-height 24px
  text-transform uppercase
  margin-bottom 40px
  @media (max-width $breakpoint-lg)
    margin-bottom 20px
  @media (max-width $breakpoint)
    font-size 15px
    line-height 17px
    margin-bottom 40px
    max-width 199px