.map
  background-image linear-gradient(to bottom, #f8a019 0%, #f7971e 100%)
  .container
    height 100%
    display flex
    flex-direction column
    justify-content center
    align-items center
  @media (max-width $breakpoint)
    background-image none
    padding-bottom 110px

.map__wrap
  display flex
  flex-direction column
  align-items center
  text-align center
  max-width 360px

.map__icon
  margin-bottom 13px
  .icon
    width 64px
    height 64px
    &:hover
      use
        fill darken(#fff, 3)
    use
      fill #fff
      @extend .trs
  @media (max-width $breakpoint)
    margin-bottom 30px
    .icon
      width 45px
      height 45px

.map__title
  font-size 22px
  line-height 24px
  text-transform uppercase
  margin-bottom 22px
  max-width 283px
  @media (max-width $breakpoint)
    font-size 15px
    line-height 17px
    max-width 205px
    margin-bottom 20px

.map__text
  display flex
  flex-direction column
  margin-bottom 84px
  line-height 17px
  @media (max-width $breakpoint)
    font-size 10px
    line-height 12px
    margin-bottom 0

.map__link
  &.btn
    width 213px
  @media (max-width $breakpoint)
    display none