.maraphon-banner
  background-image linear-gradient(to bottom, #f15f79 0%, #d25285 100%)
  overflow-x hidden
  overflow-y hidden
  .container
    height 100%
    display flex
    flex-direction column
    justify-content center

.maraphon-banner__wrap
  display flex
  flex-direction column
  align-items center
  text-align center

.maraphon-banner__logo
  margin-bottom 45px

.maraphon-banner__text
  line-height 17px
  margin-bottom 33px
  max-width 480px
  text-transform uppercase

.maraphon-banner__btn
  margin-bottom 45px

.maraphon-banner__list
  width 100vw
  height 155px
  .slick-list,
  .slick-track
    height 100%

.maraphon-banner__item
  background url('../img/content/maraphon/bg.png') center repeat-x
  height 100%
  width 100%