.page--index
  &.contrast
    .social__link,
    .footer__icon
      .icon
        use
          fill $gold
    .social__link
      .icon
        &:hover
          use
            fill rgba($gold, 0.8)