.page--maraphon
  .footer
    display none
  .contact-link__icon,
  .social__link,
  .order__icon
    .icon
      use
        fill $mulberry
  .social__link
    .icon
      &:hover
        use
          fill rgba($mulberry, 0.8)
  .order
    background-image linear-gradient(to bottom, #d25285 0%, #b24592 100%)
  .order__input
    border-color $mulberry
  .order__arrow
    &:before
      background-color $mulberry
    &:after
      border-right-color $mulberry
      border-bottom-color $mulberry