.btn
  display block
  width 190px
  padding 13px 0
  background #fff
  border-radius 18px
  text-transform uppercase
  text-align center
  @extend .trs
  cursor pointer
  &:hover
    background darken(#fff, 3)
  span
    display block