// Подключаемые компоненты

/* Cтили блока buttons */
@import "buttons.styl"
/* Конец блока buttons */

/* Cтили блока social */
@import "social.styl"
/* Конец блока social */

/* Cтили блока contact-link */
@import "contact-link.styl"
/* Конец блока contact-link */

/* Cтили блока back-link */
@import "back-link.styl"
/* Конец блока back-link */

/* Cтили блока slider-dots */
@import "slider-dots.styl"
/* Конец блока slider-dots */

/* Cтили блока logo */
@import "logo.styl"
/* Конец блока logo */