.contact-link
  display flex
  align-items center
  width 250px
  height 40px
  padding 8px 15px
  background #fff
  border-radius 18px
  @extend .trs
  &:hover
    background darken(#fff, 3)
  @media (max-width $breakpoint)
    width 160px
    height 26px
    padding 7px 10px
    border-radius 15px

.contact-link__icon
  margin-right 15px
  .icon
    width 23px
    height 23px
    use
      fill $tree-poppy
  @media (max-width $breakpoint)
    .icon
      width 15px
      height 15px

.contact-link__text
  font-size 22px
  line-height 40px
  @media (max-width $breakpoint)
    font-size 14px
    line-height 26px