.footer__link
  position fixed
  bottom 20px
  left 50%
  transform: translateX(-50%)
  z-index 10
  width 80px
  height 80px
  flex-center()
  @extend .trs
  &:hover
    opacity .8
  @media (max-width $breakpoint)
    width 70px
    height 70px
    left 50px

.footer__icon
  .icon
    width 50px
    height 50px
    use
      fill $tree-poppy
    @media (max-width $breakpoint)
      width 40px
      height 40px

.footer__text
  position absolute
  top -6px
  left -6px
  width 90px
  height 90px
  transform-origin center
  animation rotate 8s linear infinite 
  span
    position absolute
    top 0
    left 50%
    height 45px
    transform-origin bottom center
    font-weight 700
    @media (max-width $breakpoint)
      font-size 11px
      height 35px
  @media (max-width $breakpoint)
    top 0
    left 0
    width 70px
    height 70px

for num in (1...24)
  .footer__text span:nth-child({num})
    transform translateX(-50%) rotate(num*15 deg)
    @media (max-width $breakpoint)
      transform translateX(-50%) rotate(num*15 deg)

@keyframes rotate {
  from {
    transform rotate(0deg)
  }
  to {
    transform rotate(-360deg)
  }
}