/* Стили секции top-banner */
@import 'sections/top-banner.styl'

/* Стили секции advantage */
@import 'sections/advantage.styl'

/* Стили секции choice */
@import 'sections/choice.styl'

/* Стили секции order */
@import 'sections/order.styl'

/* Стили секции map */
@import 'sections/map.styl'

/* Стили секции maraphon-banner */
@import 'sections/maraphon-banner.styl'