footer.footer
  a.footer__link(href=content.general.footer.href)
    .footer__img
      img(src=content.general.footer.img.src, alt=content.general.footer.img.alt)
    .footer__icon
      +icon(content.general.footer.icon)
    span.footer__text= content.general.footer.text
