header.header
  .container
    .header__wrap
      .header__social
        include ../modules/social
      .header__logo.hide
        include ../modules/logo
      .header__phone
        include ../modules/phone